@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}


body {
 background: rgba(0, 0, 0, 0.644);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6d6d6d;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}




